/*-- scss:defaults --*/

$primary: #385898 !default;

/*-- scss:rules --*/

/* Lato build from https://github.com/applecuckoo/lato-builds */

@font-face {
    font-display: swap;
    font-family: "Lato";
    src: url("fonts/Lato-VF.woff2") format("woff2");
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-display: swap;
    font-family: "Lato";
    src: url("fonts/Lato-Italic-VF.woff2") format("woff2");
    font-weight: 100 900;
    font-style: italic;
}

/* Cover image shadow */
img.quarto-cover-image {
    border: 1px solid rgb(206, 212, 218);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .15);
}

/* Unfixing font-smoothing */
body {
    -webkit-font-smoothing: auto;
}