/*-- scss:defaults --*/

$primary: #385898 !default;
$presentation-title-slide-text-align: left;

#title-slide .title {
  font-size: 2.75rem;
}

.reveal h1 {
  font-size: 4rem !important;
  color: #FFFFFF !important;
}

.reveal h2 {
  font-size: 2.375rem !important;
}

/*-- scss:rules --*/

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');